@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

h1,h2,h3,h4,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    padding-left: 0;
    list-style: none;
}
img{
    width: 100%;
    display: block;
}